<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- MenuTaps의 경우 메뉴탭의 기능을 구현해서 다른 페이지 에서 간단하게 사용하기 위함 -->
<header th:fragment="MenuTaps" style="display: inline">


    <!-- 페이지 좌측에 페이지 버튼을 보여준다. -------------------------------------------------------------------------------------------------------------->
    <div class="menuTap">
        <div class="btn-group-vertical menuTap_W" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
            <label class="btn btn-outline-info" for="vbtn-radio1">
                <a id="c1" th:href="@{/mainPage}">
                    공지
                </a>
            </label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
            <label class="btn btn-outline-info" for="vbtn-radio2">
                <a th:href="@{/rules}" >
                    규칙
                </a>
            </label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
            <label class="btn btn-outline-info" for="vbtn-radio3">
                <a th:href="@{/#}">
                    조직도
                </a>
            </label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
            <label class="btn btn-outline-info" for="vbtn-radio4">
                <a th:href="@{/#}">
                    회비내역
                </a>
            </label>
        </div>
    </div>


    <script src="/js/MenuTaps.js"></script>




</header>

</html>