<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- config fragment 사용, header안에 공통적으로 들어가는 것들이 모여있다. -->
    <th:block th:replace="fragment/config :: configFragment('공지 페이지')"></th:block>
</head>
<body>


<!--Header 영역을 참조합니다.(내비게이션바를 불러온다)-->
<header th:replace="fragment/header :: headerFragment('공지 페이지')"></header>


<!-- 검색 기능 구현 부분 ----------------------------------------------------------------------------------------------------------------------------->
<div class="searchState1"> <!-- searchState는nav.css에 위치 -->
    <form class="d-flex searchState2" role="search"> <!-- d-flex는 input,button이 한줄로 나오도록 하는 css -->
        <input class="form-control me-2" type="search" placeholder="회원이름" aria-label="Search" id="searchText">
        <!-- 버튼안에 글자를 영어로 입력하면 가로로 잘 나오는데 한글로 입력하면 세로로 나옴 -> width를 지정해 주어야 세로로 나온다 -->
        <button class="btn btn-outline-success" type="button" style="width: 120px;" id="doSearch">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
            검색
        </button>
    </form>
</div>

<!-- 현재 사용X : 서버 메서드 완료시 진행 -->
<!-- 검색 기능 ajax처리를 위해 js 호출 (비동기로 검색어에 대한 회원 리스트를 보여준다) -->
<script src="/resources/static/js/searchAjax.js"></script>


<div class="topFrame">


    <!-- 페이지 좌측에 페이지 버튼을 보여준다. -------------------------------------------------------------------------------------------------------------->
    <th:block th:replace="fragment/MenuTaps :: MenuTaps"></th:block>


    <!-- 공지에 대한 페이지 ------------------------------------------------------------------------------------------------------------------>
    <div class="location">
        <table class="table tableSet">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">등록일</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>시험기간 안내</td>
                <td>2023-04-21</td>
                <td>방장</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>팀프로젝트 안내</td>
                <td>2023-04-21</td>
                <td>팀장</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>회식 안내</td>
                <td>2023-04-21</td>
                <td>방장</td>
            </tr>

            </tbody>
        </table>
    </div>

    <!-- 서버랑 연결되면 데이터 받아올때 수정 -->
    <!--    &lt;!&ndash; 페이징 기능 -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--    <nav aria-label="Page navigation example" id="pagingFn">-->
    <!--        &lt;!&ndash; pagingState는 nav.css에 전체 width길이를 테이블과 네비게이션바와 넓이와 같게 하기 위한 설정 &ndash;&gt;-->
    <!--        &lt;!&ndash; 이전 버튼 &ndash;&gt;-->
    <!--        <ul class="pagination" style="float: right">  &lt;!&ndash; 페이징 버튼이 왼쪽에 위치하도록 css적용 &ndash;&gt;-->
    <!--            <div th:if="${pageMaker.prev }">-->
    <!--                &lt;!&ndash; 현제 이전 페이지 버튼을 누를 필요가 없을 경우 이전 버튼을 보여주지 얺는다(번호를 5개씩 보여주기 때문에 6부터 뒤로가기를 보여준다) &ndash;&gt;-->
    <!--                &lt;!&ndash; 원하는 방향 : 현재 페이지가 1을 가리키지 않을 경우 이전 버튼을 통해 3 -> 1로 가도록 보여주도록 하고 싶음 (현재 뒤로가기 버튼이 1씩 이동하지 않고있다) &ndash;&gt;-->
    <!--                <li class="page-item">-->
    <!--                    <a class="page-link" th:href="@{/usr/main(page=${pageMaker.startPage}-1)}" aria-label="Previous">-->
    <!--                        <span aria-hidden="true">&laquo;</span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--            </div>-->


    <!--            &lt;!&ndash; 이전, 다음 버튼 사이 숫자들 &ndash;&gt;-->
    <!--            <div th:each="pageNum : ${#numbers.sequence(pageMaker.startPage , pageMaker.endPage )}">-->
    <!--                &lt;!&ndash; 페이지의 시작 번호와 끝 번호를 이용해 페이지에 뿌려준다 &ndash;&gt;-->
    <!--                <li th:if="${nowPage == pageNum}" class="page-item active" aria-current="page">-->
    <!--                    &lt;!&ndash; 만약 현재 페이지 == 버튼 숫자가 동일하다면 색상 지정 &ndash;&gt;-->
    <!--                    <a class="page-link" th:href="@{/usr/main(page = ${pageNum})}"><i-->
    <!--                            class="fa">[[${pageNum}]]</i></a>-->
    <!--                </li>-->
    <!--                <li th:unless="${nowPage == pageNum}" class="page-item">-->
    <!--                    &lt;!&ndash; 현재 페이지 == 버튼번호가 같은 경우가 아니라면 색을 채우지 말고 보여줘라 &ndash;&gt;-->
    <!--                    <a class="page-link" th:href="@{/usr/main(page = ${pageNum})}"><i-->
    <!--                            class="fa">[[${pageNum}]]</i></a>-->
    <!--                </li>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; 다음 버튼 &ndash;&gt;-->
    <!--            <div th:if="${pageMaker.next && pageMaker.endPage >0}">-->
    <!--                &lt;!&ndash; 현재 버튼을 5개 보여주는데 그다음 페이지가 없을 경우 다음 으로가는 버튼을 보여주지 않는다. &ndash;&gt;-->
    <!--                <li class="page-item">-->
    <!--                    <a class="page-link" th:href="@{/usr/main(page=${pageMaker.endPage}+1)}" aria-label="Next">-->
    <!--                        <span aria-hidden="true">&raquo;</span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--            </div>-->
    <!--        </ul>-->
    <!--    </nav>-->
    <!--</div>-->

    <!-- 페이징 기능 설명
    현재 Criterial, PageMaker DTO파일
    controller -> service -> repository에서 DB에서 특정 시작과 끝값에 조건에 해당하는 유저를 불러온다
     한페이지에 최대 5개의 버튼을 보여준다.
     이전, 다음 버튼의 경우 현재 보이는 버튼이외에 이전 or 다음 페이지가 있을 경우에만 보여준다.
     현재 페이지의 숫자와 동일한 버튼의 경우 배경색을 지정해 준다.
     (페이징 기능은 get방식으로만 가능 하다???)
     -->

</div>


</body>
</html>